.bodyC {
  text-align: relative;
}
.bodyC > h1 {
  color: rgb(151, 7, 50);
  margin-left: 5rem;
  text-decoration: white underline;
}
.moreB {
  text-align: center;
  justify-content: center;
}
.moreB > button {
  margin-bottom: 10px;
  border: 0px solid black;
  border-radius: 6px;
  box-shadow: black;
  color: white;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.moreB > button:hover {
  background: white;
  color: black;
}
